<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Option">
        <arguments>
            <argument name="optionTypesToGroups" xsi:type="array">
                <item name="select2" xsi:type="const">Magento\Catalog\Api\Data\ProductCustomOptionInterface::OPTION_GROUP_SELECT</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Option\Type\Select">
        <arguments>
            <argument name="singleSelectionTypes" xsi:type="array">
                <item name="select2" xsi:type="string">select2</item>
            </argument>
        </arguments>
    </type>
</config>
